/* Adding font family poppins */
@font-face {
  font-family: 'poppins';
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'poppins';
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
}

/* GLOBAL CLASSES STARTS  */
.single-page {
  min-height: 100vh;
  width: 100%;
  padding: 15px;
  background-color: #eee;
}
/* GLOBAL CLASSES ENDS  */

/* HOME SECTION STARTS  */
.expenses-card-ui {
  text-align: center;
  background-color: purple;
  margin-bottom: 15px;
}
.expenses-card-ui .ant-card {
  background-color: rgba(255, 255, 255, 0.5);
}
.expenses-card-ui .total-title {
  font-size: 18px;
  font-weight: 900;
}
.expenses-card-ui .sub-title {
  font-size: 16px;
  font-weight: 700;
}
.expenses-card-ui .amount-text {
  font-size: 22px;
}
/* HOME SECTION ENDS  */
