/* Adding font family poppins */
@font-face {
  font-family: 'poppins';
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'poppins';
}


