.navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  padding: 0 2px;
  margin-bottom: 5px;
}
.navigation-bar ul {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  max-width: 300px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.navigation-bar .nav-item-center,
.navigation-bar .nav-item{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 6px;
  margin: 0px 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation-bar .anticon,
.navigation-bar .nav-icon {
  font-size: 22px;
  display: block;
  margin: auto;
  margin-bottom: 2px;
}
.navigation-bar .nav-center-icon {
  font-size: 32px;
}
.navigation-bar a .title {
  font-size: 10px;
  text-align: center;
}